<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestWebKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFE349E21DD3ED08002D2AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE349FB1DD3ED09002D2AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE34A061DD3ED09002D2AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
